/* Выделение */
* {
  outline: none;
}

*:not(input):not(textarea),
::after,
::before {
  user-select: none;
  -webkit-user-select: none;
}

/* Отступ 16 пикселей сверху */
body[scheme*='vkcom'] .vkuiSplitLayout__inner {
  margin-top: 16px;
}

body[scheme*='vkcom'] {
  height: calc(100% - 16px) !important;
}
