.Gradient {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
}

.Gradient__desktop {
  margin: -7px -7px 0 -7px;
}

.Gradient_Title {
  margin-bottom: 8px;
  margin-top: 20px;
}

.Gradient_Subtitle {
  margin-bottom: 24px;
  color: var(--vkui--color_text_secondary);
}
