:global(.vkuiGradient).gradient {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
}

:global(.vkuiGradient).gradient-desktop {
  margin: -7px -7px 0 -7px;
}

:global(.vkuiTitle).gradient-title {
  margin-bottom: 8px;
  margin-top: 20px;
}

:global(.vkuiText).gradient-secondary {
  margin-bottom: 24px;
  color: var(--text_secondary);
}
