/* Выделение */
* {
  outline: none;
}

*:not(input):not(textarea),
::after,
::before {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Отступ 16 пикселей сверху */
.SplitLayout__inner {
  margin-top: 16px;
}

.vkui {
  height: calc(100% - 16px);
}
